<html>
    <head>
    <title>Faces Info</title>
</head>
<body>
    
    <h1>DETAYLI INFO</h1>
        

        <p>*******Celal Şengör Kayitlari *******</p>
        <p>Videoda Bulunduğu Saniyeler :{{celalKayit}}</p>
        <p>Total Videoda bulunduğu zaman :{{celalKayit|length }}</p>
        <p></p>

        <p>*******Mehmet Ali Birand Kayitlari *******</p>
        <p>Videoda Bulunduğu Saniyeler :{{aliKayit}}</p>
        <p>Total Videoda bulunduğu zaman :{{aliKayit|length }}</p>
        <p></p>

        <p>*******Besim Tibuk Kayitlari *******</p>
        <p>Videoda Bulunduğu Saniyeler :{{besimKayit}}</p>
        <p>Total Videoda bulunduğu zaman :{{besimKayit|length }}</p>
        <p>************************</p>

    

    
    
</style>




</body></html>